<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand text-light" routerLink="/" routerLinkActive="active">Dating App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container class="text-light" *ngIf="accountService.currentUser$| async">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['lists']" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/errors" routerLinkActive="active">Errors</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="accountService.currentUser$| async as user" ngbDropdown>
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
      <a class="nav-link text-light ms-2" role="button" ngbDropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit" ngbDropdownItem>Edit Profile</a>
        <a class="dropdown-item btn" (click)="logout()" ngbDropdownItem>Logout</a>
      </div>
    </div>
    <form class="d-flex" *ngIf="!(accountService.currentUser$ | async)" class="d-flex" #Form="ngForm"
      (ngSubmit)="login()">
      <input name="username" [(ngModel)]="model.username" class="form-control me-sm-2" type="text"
        placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-sm-2" type="password"
        placeholder="Password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>